<div class="form-control">
  <%= link_to t(:create_new_question), new_admin_question_path %>
</div>
<%= will_paginate %>
<table class="table table-bordered">
  <tr>
    <th><%= t :id %></th>
    <th><%= t :questions %></th>
    <th><%= t :categories %></th>
    <th class="col-md-4"><%= t :action %></th>
  </tr>
  <%= render @questions %>
</table>    
<%= will_paginate %>
