<tr class="<%= 'success' if exam.testing? %>">
  <td><%= exam.created_at %></td>
  <td><%= exam.category.name %></td>
  <td><%= exam.status %></td>
  <td><%= exam.mark if exam.completed? %></td>
  <td data-no-turbolink="true">
    <% if exam.completed? %>
      <%= link_to t(:exam_view), exam_path(exam), class: "btn btn-primary" %>
    <% else %>
      <%= link_to exam.testing? ? t(:exam_continue) : t(:exam_start), edit_exam_path(exam), class: "btn btn-primary" %>
    <% end %>
  </td>
</tr>
